.animal {
    border: 1px solid #ccc;
    box-shadow: 0.1em 0.1em 2.2em;
    padding: 0.5em;
    font-weight: 600;
    border-radius: 0.5em;
    margin: 1em;
    display: grid;
    grid-template-areas: 
    "icon name name"
    "icon weight weight"
    "icon . extinct";
;

    .icon{
        grid-area: icon;
        place-content: center;
        font-size: 4em;
    }
    .name {
        grid-area: name;
        font-weight: 900;
        font-variant: small-caps;
    }
    .weight {
        grid-area: weight;
        color: gray
    }
    .extinct {
        grid-area: extinct;
        text-transform: uppercase;
        background-color: darkred;
        color: white;
        font-size: 0.75em;
        place-content: center;
        min-height: 1em;
        padding: 0.2em;
    }
}
